<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>
        <mat-checkbox></mat-checkbox>
      </span>
      {{ task?.title }}
    </mat-panel-title>
    <mat-panel-description>
      <div class="description w-100">
        <div>{{ task?.description }}</div>
        <div>
          <button mat-icon-button color="primary" (click)="onEdit(task.id)">
            <mat-icon>edit</mat-icon>
          </button>   
          <button mat-icon-button color="warn" (click)="onDelete(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row w-100">
    <div class="col-md-6">
      <p><b>Due Data</b></p>
      <p>{{ task?.dueDate }}</p>
    </div>
    <div class="col-md-6">
      <p><b>Created At</b></p>
      <p>{{ task?.createdAt }}</p>
    </div>
  </div>
</mat-expansion-panel>
