<div class="container min-vw-100 min-vh-100">
  <div class="row vh-100 bg-image">
    <div class="login-container">
      <div class="login-container__box">
        <!--Header block-->
        <div class="login-container__header-block-container">
          <div class="login-container__header-block">
            <div class="col login-container__header-text">
              Sign In
            </div>
          </div>
        </div>
        <!--Content-->
        <div class="login-container__content">
          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <mat-form-field appearance="outline">
            <input formControlName="email" matInput placeholder="Email" required type="email">
            <mat-error> Valid email is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input formControlName="email" matInput placeholder="Password" required type="password">
            <mat-error> Password is required</mat-error>
          </mat-form-field>
            <button class="w-100" color="primary" mat-flat-button type="submit">Sign Up</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
